*.glb binary
*.webp binary
*.jpg binary
*.png binary
*.bin binary
*.part1 binary
*.part2 binary
*.part3 binary
*.part4 binary
*.part5 binary
*.part6 binary
*.part7 binary
*.part8 binary
*.part9 binary
*.part10 binary
*.part11 binary
*.part12 binary
*.html -text
